{% extends "base.html" %}

{% block footer %}
  <div style="text-align: center; font-size: 14px; padding: 10px;">
    <span>© 2025 Creado por <strong>Efrain Quintero</strong></span>
    <span>
    <a href="https://github.com/Yugen02" target="_blank" style="margin-left: 30px;">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="30px" alt="GitHub">
    </a>         
    <a href="https://www.linkedin.com/in/efra%C3%ADn-quintero-guerra-865b29258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" style="margin-left: 5px;">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" width="30px" alt="LinkedIn">
    </a>
    </span>
  </div>
{% endblock %}
